<header>
  <nav class="navbar navbar-light">
    {{ if .IsHome }}
    <h1 style="font-size: 16px;">
      <a href="/" style="color: black">{{ .Site.Title }}</a>
    </h1>
    {{ else }}
      <div style="font-size: 16px;">
        <a href="/" style="color: black">{{ .Site.Title }}</a>
      </div>
    {{ end }}

    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarList"
      aria-controls="navbarList"
      aria-expanded="false"
      aria-label="ナビゲーションの切替"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarList"
      style="z-index: 2"
    >
      <ul class="nav navbar-nav ml-auto">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          {{ else }}
            <li class="list-group-item">
              <a href="{{.URL}}">{{ .Name }}</a>
            </li>
          {{end}}
        {{end}}
        <li class="list-group-item">
          <a href="/apuri/chat">リアルタイムチャット</a>
        </li>
      </ul>
    </div>
  </nav>
</header>