/* ソースコードハイライト */
.xCodeBlock_title {
  display: inline-block;
  font-size: smaller;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0 0.5em;
  background: gray;
  color: white;
}

.xCodeBlock_code {
  margin-top: -30px;
  /* overflow-wrap: break-word; */
  /* overflow-x: auto; */
}

.xCodeBlock_code pre {
  padding: 0.5em;
  overflow-x: auto;
  /* white-space: pre-wrap; */
}
/* ソースコードハイライトここまで */
